# Optimizer
* Optimizers are algorithms or methods used to change the attributes of your neural network such as weights and learning rate in order to reduce the losses.
* types
    * Gradient Descent 
    * Stochastic Gradient Descent 
    * Stochastic Gradient descent with momentum
    * Mini-Batch Gradient Descent
    * Adagrad
    * RMSProp
    * AdaDelta
    * Adam

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('../dataset/Churn_Modelling.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
df.drop(columns=['RowNumber','CustomerId','Surname','Geography','Gender'],inplace=True)
df.head()

   CreditScore  Age  Tenure  ...  IsActiveMember  EstimatedSalary  Exited
0          619   42       2  ...               1        101348.88       1
1          608   41       1  ...               1        112542.58       0
2          502   42       8  ...               0        113931.57       1
3          699   39       1  ...               0         93826.63       0
4          850   43       2  ...               1         79084.10       0

[5 rows x 9 columns]

In [5]:
df.isnull().sum()

CreditScore        0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
input_df = df.iloc[:,:-1]
output_df = df['Exited']

In [8]:
ss = StandardScaler()
ss_input_df = pd.DataFrame(ss.fit_transform(input_df),columns=input_df.columns)
ss_input_df.head()

   CreditScore       Age    Tenure  ...  HasCrCard  IsActiveMember  EstimatedSalary
0    -0.326221  0.293517 -1.041760  ...   0.646092        0.970243         0.021886
1    -0.440036  0.198164 -1.387538  ...  -1.547768        0.970243         0.216534
2    -1.536794  0.293517  1.032908  ...   0.646092       -1.030670         0.240687
3     0.501521  0.007457 -1.387538  ...  -1.547768       -1.030670        -0.108918
4     2.063884  0.388871 -1.041760  ...   0.646092        0.970243        -0.365276

[5 rows x 8 columns]

In [9]:
x_train, x_test, y_train, y_test = train_test_split(input_df, output_df, test_size=0.2, random_state=42)
ss_x_train, ss_x_test, ss_y_train, ss_y_test = train_test_split(ss_input_df, output_df, test_size=0.2, random_state=42)

In [10]:
input_df.shape, ss_input_df.shape

((10000, 8), (10000, 8))

In [11]:
import tensorflow
from keras.layers import Dense
from keras.models import Sequential

In [12]:
ann = Sequential()
ss_ann = Sequential()

In [13]:
ann.add(Dense(6,input_dim=8,activation='relu'))
ann.add(Dense(4,activation='relu'))
ann.add(Dense(2,activation='relu'))
ann.add(Dense(1,activation='sigmoid'))

ann.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])

e:\Windows 10\Python Files\Data Science\py_venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:
ss_ann.add(Dense(6,input_dim=8,activation='relu'))
ss_ann.add(Dense(4,activation='relu'))
ss_ann.add(Dense(2,activation='relu'))
ss_ann.add(Dense(1,activation='sigmoid'))

ss_ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

:

In [ ]:
ann.fit(x_train, y_train, batch_size=100, epochs=10)

Epoch 1/10

In [ ]:
ss_ann.fit(ss_x_train, ss_y_train, batch_size=100, epochs=10)

In [ ]:
prd = ann.predict(x_train)
prd_data = [1 if i[0]>0.5 else 0 for i in prd]

ss_prd = ss_ann.predict(x_train)
ss_prd_data = [1 if i[0]>0.5 else 0 for i in ss_prd]

In [ ]:
prd1=ann.predict(x_test)
prd_data1 = [1 if i[0]>0.5 else 0 for i in prd1]

ss_prd1 = ss_ann.predict(x_test)
ss_prd_data1 = [1 if i[0]>0.5 else 0 for i in ss_prd1]

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_train,prd_data),accuracy_score(y_test,prd_data1)

In [ ]:
accuracy_score(ss_y_train, ss_prd_data), accuracy_score(ss_y_test, ss_prd_data1)